CHAT_BASE_URL = "https://dashscope.aliyuncs.com/compatible-mode/v1"
CHAT_API_KEY = "your-dashscope-key"
CHAT_MODEL = "qwen-plus"

GENERAL_LLM_MODEL = "qwen-plus"
CLASSIFIER_LLM_MODEL = "qwen-plus"
CLARIFIER_LLM_MODEL = "qwen-plus"
PRODUCT_LLM_MODEL = "qwen-plus"
REFINE_LLM_MODEL = "qwen-plus"

EMBEDDING_BASE_URL = "https://dashscope.aliyuncs.com/compatible-mode/v1"
EMBEDDING_API_KEY = "your-dashscope-key"
EMBEDDING_MODEL = "text-embedding-v3"

DEEPSEEK_BASE_URL = "https://api.deepseek.com/v1"
DEEPSEEK_API_KEY = ""
DASHSCOPE_BASE_URL = "https://dashscope.aliyuncs.com/compatible-mode/v1"
DASHSCOPE_API_KEY = "your-dashscope-key"
COHERE_API_KEY = ""

OPEANAI_BASE_URL = ""
OPEANAI_API_KEY = ""
GEMINI_BASE_URL = ""
GEMINI_API_KEY = ""

IMAGE_ROOT_DIR = ""
DATA_ROOT_DIR = ""
PROCESSED_DATA_ROOT_DIR = ""

MILVUS_HOST = "127.0.0.1"
MILVUS_PORT = "19530"
MILVUS_DB_NAME = "default"

ENGLISH_HANDBOOK_NAME_FILE = "catalog/handbook_name_gemini.json"

USE_CONTEXTUAL_AUGMENTATION = "1"
USE_QUERY_CLS = "1"
